*, *::after, *::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Killig';
  src: url('assets/fonts/Killig.ttf') format('truetype');
  font-weight: normal;
}

body {
  --color-checker-light: #333333;
  --color-checker-dark: #393939;
  --checker-size: 30px;

  margin: 0;
  overflow: hidden;
  background: var(--color-checker-dark);
  background-image: linear-gradient(45deg, var(--color-checker-light) 25%, transparent 25%),
  linear-gradient(135deg, var(--color-checker-light) 25%, transparent 25%),
  linear-gradient(45deg, transparent 75%, var(--color-checker-light) 75%),
  linear-gradient(135deg, transparent 75%, var(--color-checker-light) 75%);
  background-size: var(--checker-size) var(--checker-size);
  background-position: 0 0, calc(var(--checker-size) / 2) 0, calc(var(--checker-size) / 2) calc(var(--checker-size) / 2), 0 calc(var(--checker-size) / 2);
  cursor: url('assets/ui/cursor.png') 16 16, auto;
}

canvas {
  position: absolute;
}

#tutorial {
  position: absolute;
  bottom: 0;
  height: 64px;
  vertical-align: center;
  left: 64px;
  color: white;
  font-family: "Killig", serif;
  font-size: 2rem;
}

#debug-menu-toggle {
  all: unset;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 64px;
  height: 64px;
}

#debug-menu-toggle::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/icons/debug.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}

#debug-menu {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  border: 1px solid black;
  backdrop-filter: saturate(180%) blur(10px);
  bottom: 16px;
  right: 64px;
  padding: 16px;
}

.hidden {
  display: none;
}
